<div class="mt-2 flex items-center gap-2">
  <input type="text" [(ngModel)]="messageText" (keyup.enter)="sendMessage()" placeholder="Escribe un mensaje..."
    class="flex-grow p-3 rounded-lg border-1 focus:outline-none focus:ring-2 focus:ring-blue-500" />

  <button (click)="toggleVoiceMode()" class="p-3 rounded-full bg-gray-600 hover:bg-gray-500 transition-colors"
    [class.bg-red-600]="isVoiceMode" [class.hover:bg-red-700]="isVoiceMode">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24"
      stroke="currentColor">
      <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="{2}"
        d="M19 11a7 7 0 01-7 7m0 0a7 7 0 01-7-7m7 7v4m0 0H8m4 0h4m-4-8a3 3 0 01-3-3V5a3 3 0 116 0v6a3 3 0 01-3 3z" />
    </svg>
  </button>

  <button (click)="sendMessage()" class="p-3 rounded-full bg-blue-600 hover:bg-blue-700 transition-colors">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24"
      stroke="currentColor">
      <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="{2}" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8" />
    </svg>
  </button>
  </div>